[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/brahmaiahdara
[access "refs/for/refs/*"]
	read = group user/brahmaiahdara
	push = group user/brahmaiahdara
	label-Code-Review = -2..+2 group user/brahmaiahdara
	label-Verified = -1..+1 group user/brahmaiahdara
	rebase = group user/brahmaiahdara
	removeReviewer = group user/brahmaiahdara
	submit = group user/brahmaiahdara
[access "refs/heads/*"]
	read = group user/brahmaiahdara
	create = group user/brahmaiahdara
	push = +force group user/brahmaiahdara
	pushMerge = group user/brahmaiahdara
[access "refs/tags/*"]
	push = group user/brahmaiahdara
	push = +force group user/brahmaiahdara
